name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: false
          persist-credentials: false

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Make Gradlew Executable
        run: chmod +x gradlew

      - name: Build APK (Ignore Errors)
        run: ./gradlew assembleDebug --no-daemon || echo "Attempting force build..."

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: WND-EMU-APK
          path: "**/build/outputs/apk/debug/*.apk"
