name: WND-EMU Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get Source Code
        uses: actions/checkout@v4
        with:
          submodules: false 

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Give Permission
        run: chmod +x gradlew

      - name: Build WND-EMU APK
        run: ./gradlew assembleDebug --no-daemon

      - name: Download Your APK
        uses: actions/upload-artifact@v4
        with:
          name: WND-EMU-Final-App
          path: app/build/outputs/apk/debug/*.apk
